<footer>
    <div class="container">
      <div class="row">

        <div class="col-4 col-6-sm hidden-sm">
          <span>Coded with <b><3</b> by <a target="_blank" href="https://sanderschekman.com">SuperSchek</a></span>          
        </div>

        <div class="col-4 col-7-sm center">
          <div class="social-links text-center">

              {% include 'social_media' %}

          </div>
        </div>


        <div class="col-4 col-5-sm right">
          <span>&copy; {{ now | date: '%Y' }} Filmerds</span>
        </div>

      </div>
    </div>
</footer>
