{% comment %} 
<div on="tap:sidebar.toggle"
  class="hidden-lg ampstart-btn caps m2">TOP KEK</div>
   {% endcomment %}
<div class="nav-container">
  <div class="container">
    <div class="row">

      <div class="col-4 col-12-sm">
        <a href="/">
          <amp-img alt="Filmerds Logo"
                  src="{{ 'logo.png' | theme_image_url }}"
                  width="60"
                  height="60"
                  layout="fixed">
          </amp-img>
        </a>
      </div>

      <div class="col-8 hidden-sm">      
        <nav>
          <a class="btn-nav {% if page == 'home' %}active{% endif %}" href="/">Home</a>
          <a class="btn-nav {% if page == 'archief' %}active{% endif %}" href="/archief">Archief</a>
          <a class="btn-nav {% if page == 'contact' %}active{% endif %}" href="/contact">Contact</a>
        </nav>
      </div>
      
    </div>
  </div>
</div>