<amp-sidebar id="sidebar"
             layout="nodisplay"
             side="right">
    

    <ul id="nav-mob">
        <li {% if page.slug == 'index' %}class="active"{% endif %}><a href="/">Home</a></li>
        {% nav site, active_class: 'active', no_wrapper: true %}
    </ul>
    
    <div class="mobnav-footer-wrap">
        <div class="container">
            <div class="row">  
                <div class="col-12 center">
                    <div class="social-links text-center">

                        {% include 'social_media' %}

                    </div>
                </div>
            </div>
        </div>
        
        <span>&copy; {{ now | date: '%Y' }} Filmerds</span>
    </div>
</amp-sidebar>