<a {% if alt == "RSS" or alt == "YouTube" %}class="hidden-sm"{% endif %} href="{{ url }}" target="_blank">
    <amp-img    alt="{{ alt }}"
                src="{{ icon | theme_image_url }}"
                width="24"
                height="24"
                layout="fixed">
    </amp-img>
</a>