<a href="{{ url }}" target="_blank">
    <amp-img    alt="{{ alt }}"
                src="{{ icon | theme_image_url }}"
                width="24"
                height="24"
                layout="fixed">
    </amp-img>
</a>