---
title: Page not found
published: true
---
{% extends 'layouts/default' %}

{% block 'main' %}

    <div class="container">
        <section class="jumbotron">
            <div>
                <amp-img alt="Filmerds 404"
                         src="{{ '404.gif' | theme_image_url }}"
                         width="1920"
                         height="1080"
                         layout="responsive">
                </amp-img>
            </div>
        </section>

        {% include navigation %}        

        <section>
            <h1>Deze pagina bestaat niet!</h1>
        </section>
    </div>

{% endblock %}
