---
title: Home
slug: home
position: 1
listed: true
published: true
is_layout: false
editable_elements:
  main/Biografie Heading: Wij zijn Filmerds!
  main/Biografie Cpmtent: Goed verhaal
---

{% extends 'layouts/default' %}

{% block 'main' %}
  {% if site.metafields.misc_settings.production == true %}
      {% include tracking_body %}
  {% endif %}

  {% include navigation %}
  
  <div class="container">
    <section class="pt-50" style="padding-top: 90px;">
       <div class="row">
        <div class="col-12">          

            <amp-youtube class="youtube-player"
                        width="1920"
                        height="1080"
                        class="youtube-player"
                        layout="responsive"
                        data-videoid="g6U20NFRd8w"
                        autoplay>
            </amp-youtube>

        </div>
      </div>      
    </section>

    <section class="pb-50">
      <div class="row">
        <div class="col-12">      
          <h2>
            Bekijk onze podcasts!      
          </h2>
        </div>        
      </div>

      <div class="row">
        {% with_scope publication_date.lte: now %}
          {% paginate contents.podcasts by 6 %}
            {% for podcast in paginate.collection %}

              <div class="col-4 col-md-6 col-sm-12">
                {% include 'card_podcast' with podcast: podcast %}
              </div>

            {% endfor %}
          {% endpaginate %}
        {% endwith_scope %}
      </div>

      <div class="row">
        <div class="fw center pt-25">
          <a class="btn-nav" href="/archief">Meer afleveringen!</a>
        </div>
      </div>
    </section>

    {% comment %}    
    <section>
      <div class="row">
        <div class="col-12">      
          <h2>
            Filmerds op Instagram!
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <amp-instagram
            data-shortcode="Bg32I3PlSDy"
            data-captioned
            width="400"
            height="400"
            layout="responsive">
          </amp-instagram>
        </div>
        <div class="col-4">
          <amp-instagram
            data-shortcode="Bfgp-fgleiT"
            data-captioned
            width="400"
            height="400"
            layout="responsive">
          </amp-instagram>
        </div>
        <div class="col-4">
          <amp-instagram
            data-shortcode="fBwFP"
            data-captioned
            width="400"
            height="400"
            layout="responsive">
          </amp-instagram>
        </div>
      </div>
    </section>
    {% endcomment %}

  </div>

{% endblock %}
