---
title: Home
published: true
---

{% extends 'layouts/default' %}

{% block 'main' %}

  <section class="jumbotron">
    <div>

      {% with_scope publication_date.lte: today %}

        {% assign latest = contents.podcasts.first %}

        <amp-youtube class="youtube-player"
          width="1920"
          height="1080"
          class="youtube-player"
          layout="responsive"
          data-videoid="g6U20NFRd8w"
          autoplay>
        </amp-youtube>

      {% endwith_scope %}
    </div>
  </section>

  <div class="container">

    {% with_scope publication_date.lte: today %}
      {% paginate contents.podcasts by 25 %}

        <ul>
        {% for podcast in paginate.collection %}
          <li><a href="{% path_to podcast %}">{{ podcast.categorie }} | {{ podcast.naam }}</a></li>
        {% endfor %}
        </ul>
        <div class="pagination">
          {% if paginate.previous_page %}<a href="?page={{ paginate.previous_page }}">Previous</a>{% endif %}
          {% if paginate.next %}<a href="?page={{ paginate.next_page }}">Next</a>{% endif %}
        </div>

      {% endpaginate %}
    {% endwith_scope %}

    <nav>
      <a class="btn-nav" href="/archief">Archief</a>
      <a class="btn-nav" href="/">Wat?</a>
      <a class="btn-nav" href="/">Waar?</a>
      <a class="btn-nav" href="/">Waarom?</a>
      <a class="btn-nav" href="/">Wanneer?</a>
    </nav>

  </div>

  {% include 'footer' %}


{% endblock %}
