---
title: Qr
slug: qr
position: 5
listed: false
published: true
is_layout: false
editable_elements:
  main/Heading: Wij zijn Filmerds!
  main/Content: Goed verhaal
---
{% extends 'layouts/default' %}
{% block 'main' %}
  {% if site.metafields.misc_settings.production == true %}
      {% include tracking_body %}
  {% endif %}
  {% include navigation %}
  
  <div class="container">
    <section class="pt-50" style="padding-top: 90px;">
       <div class="row">
        <div class="col-12">          
            <amp-youtube class="youtube-player"
                        width="1920"
                        height="1080"
                        class="youtube-player"
                        layout="responsive"
                        data-videoid="WaNz9eKsN8w"
                        data-param-widget_referrer="{{ url }}"
                        autoplay>
            </amp-youtube>
        </div>
      </div>      
    </section>
    <section>
    <div class="row">
        <div class="col-12">
          <h1>
            {% editable_text "Heading" %}
                Wij zijn Filmerds!
            {% endeditable_text %}
          </h1>
          <p>
            {% editable_text "Content" %}
                Goed verhaal
            {% endeditable_text %}
          </p>
        </div>
    </section>
    <section class="pb-50">
      <div class="row">
        <div class="col-12">      
          <h2>
            Bekijk onze podcasts!
          </h2>
        </div>        
      </div>
      <div class="row">
        {% with_scope publication_date.lte: now %}
          {% paginate contents.podcasts by 3 %}
            {% for podcast in paginate.collection %}
              <div class="col-4 col-md-6 col-sm-12">
                {% include 'card_podcast' with podcast: podcast %}
              </div>
            {% endfor %}
          {% endpaginate %}
        {% endwith_scope %}
      </div>
      <div class="row">
        <div class="fw center pt-25">
          <a class="btn-nav" href="/archief">Meer afleveringen!</a>
        </div>
      </div>
    </section>
  </div>
{% endblock %}