---
title: Default
---

<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="nl" amp>

  {% include head_default %}

  <body>
    {% include 'sidebar' %}    

    {% block 'main' %}
    {% comment %} ***Content*** {% endcomment %}
    {% endblock %}
  </body>

  {% include 'footer' %}

</html>
