---
title: Default
---

<html prefix="og: http://ogp.me/ns#">

  {% include head_default %}

  <body>
    {% block 'main' %}
    {% comment %} ***Content*** {% endcomment %}
    {% endblock %}
  </body>
</html>
