* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Calibri, sans-serif;
}

.btn-nav {
  background: #385c80;
  color: white;
  text-transform: uppercase;
  padding: 7px 10px;
  margin-top: 10px;
  position: relative;
  text-decoration: none;
}

.btn-nav:hover {
  color: green;
}

.btn-nav:after {
  background: repeating-linear-gradient(
  135deg,
  #FFF,
  #FFF 3px,
  #465298 3px,
  #465298 5px);
  );
  width: 100%;
  height: 100%;
  content: "";
  left: 5px;
  z-index: -1;
  top: 5px;
  position: absolute;
}

.striped-bg {
  background: repeating-linear-gradient(
    45deg,
    #FFF,
    #FFF 10px,
    #465298 10px,
    #465298 20px
  );
}
